<header class="container">
  <div class="navbar navbar-default navbar-md navbar-sm navbar-lg">
   <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img src="img/ePageo-Logo.png" hover-logo class="logo"/>
    </a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Services</a></li>
          <li><a href="#">Software</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Work</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
  </div>
</header>
