.tap{
	text-align: center;
	padding-top: 50px;
    position: relative;
}
.droplets {
  transition: font-size 1s cubic-bezier(.46,.11,.46,.53);
  font-size: 30px;
  color: #0E97A3;
  position: absolute;
  background: -webkit-linear-gradient(#0E97A3, #005781);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /*bottom:150px;*/
  -webkit-animation: fall 4.66s ease-in infinite;
  -moz-animation: fall 4.66s ease-in infinite;
  transition-delay: .2s;
  z-index: 10000;

  &.type2{
    -webkit-animation: fall 6.0s ease-in infinite;
    -moz-animation: fall 6.0s ease-in infinite;
  }
  &.type3{
    -webkit-animation: fall 3.0s ease-in infinite;
    -moz-animation: fall 3.0s ease-in infinite;
  }
  &.type4{
    -webkit-animation: fall 5.0s ease-in infinite;
    -moz-animation: fall 5.0s ease-in infinite;
  }
  &.type5{
    -webkit-animation: fall 2.40s ease-in infinite;
    -moz-animation: fall 2.40s ease-in infinite;
  }
  &.type6{
    -webkit-animation: fall 3.60s ease-in infinite;
    -moz-animation: fall 3.60s ease-in infinite;
  }
}

.rain{
  font-family: Icomatic;
  position: absolute;
}

/* animate the drops*/
@-webkit-keyframes fall {
  to {margin-top:4800px;}
}
@-moz-keyframes fall {
  to {margin-top:4800px;}
}

.outer-circle{
	width: 500px;
	height:500px;
	background: $brand-green;
	border-radius: 100%;
	margin: 65px auto;
	position: relative;
	.inner-circle{
		position: absolute;
	    background: $brand-green;
	    border-radius: 100%;
	    border: 5px solid $white;
	    height:450px;
	    width:450px;
	    top:50%;
	    left:50%;    
	    margin: -225px 0px 0px -225px;
	    text-align:center;
	    color: $white;
	    .number{
	    	display: inherit;
			margin-top: 20px;
			line-height: 1;
			font-size: 7rem;
			font-family: $font-family-headings;
	    }
	    h3{
	    	font-size: 7rem;
	    	font-family: $font-family-headings;	
	    	text-transform: uppercase;
	    	letter-spacing: 2px;
	    }
	    p{
	    	padding: 0 28px;
	    	line-height: 1.25;
	    }
	    span.continue{
	    	padding-top: 20px;
	    	color: $brand-light-green;
	    	a{
		    	color: $brand-light-green;
		    	font-size: 4rem;
		    	font-family: $font-family-headings;	
		    	text-transform: uppercase;
		    	line-height: 1;
		    	&:hover{
		    		text-decoration: none;
		    		cursor: pointer;
		    	}
	    	}
	    	span.icomatic{
	    		display: block;
	    		font-size: 3.5rem;
	    	}
	    	.small-circle{
	    			width: 15px;
					height: 15px;
					background: $white;
					display: inline-block;
					border-radius: 100%;
					position: relative;
					top:23px;
	    		}
	    }
	}
}
.padding-top-25{
	padding-top: 25px;
}

//for jumping balls
$width-circle1: 120px;
$width-circle2: 140px;
$width-circle3: 130px;
$width-circle4: 110px;

$color-orange: #e5451a;
$color-purple: #6904b6;
$color-blue: #0362fe;
$color-pink: #fc85b5;
$color-grey: #536076;
$color-green: #187702;

.info-circle{
	display: table;
	z-index: 100;
	border-radius: 100%;
	position: relative;
	left: 10px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	padding: 20px;
	span{
		display: table-cell;
		vertical-align: middle;
		line-height: 1;
		text-transform: uppercase;
	}
}

