.tap{
	text-align: center;
	padding-top: 50px;
}
.outer-circle{
	width: 500px;
	height:500px;
	background: $brand-green;
	border-radius: 100%;
	margin: 65px auto;
	position: relative;
	.inner-circle{
		position: absolute;
	    background: $brand-green;
	    border-radius: 100%;
	    border: 5px solid $white;
	    height:450px;
	    width:450px;
	    top:50%;
	    left:50%;    
	    margin: -225px 0px 0px -225px;
	    text-align:center;
	    color: $white;
	    .number{
	    	display: inherit;
			margin-top: 20px;
			line-height: 1;
			font-size: 7rem;
			font-family: $font-family-headings;
	    }
	    h3{
	    	font-size: 7rem;
	    	font-family: $font-family-headings;	
	    	text-transform: uppercase;
	    	letter-spacing: 2px;
	    }
	    p{
	    	padding: 0 28px;
	    	line-height: 1.25;
	    }
	    span.continue{
	    	padding-top: 20px;
	    	color: $brand-light-green;
	    	a{
		    	color: $brand-light-green;
		    	font-size: 4rem;
		    	font-family: $font-family-headings;	
		    	text-transform: uppercase;
		    	line-height: 1;
		    	&:hover{
		    		text-decoration: none;
		    		cursor: pointer;
		    	}
	    	}
	    	span.icomatic{
	    		display: block;
	    		font-size: 3.5rem;
	    	}
	    	.small-circle{
	    			width: 15px;
					height: 15px;
					background: $white;
					display: inline-block;
					border-radius: 100%;
					position: relative;
					top:23px;
	    		}
	    }
	}
}
.padding-top-25{
	padding-top: 25px;
}
$width-circle1: 120px;
$width-circle2: 140px;
$width-circle3: 130px;
$color-orange: #e5451a;
$color-purple: #6904b6;
$color-blue: #0362fe;
$color-pink: #fc85b5;
.info-circle{
	display: table;
	z-index: 100;
	border-radius: 100%;
	position: relative;
	left: 10px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	padding: 20px;
	span{
		display: table-cell;
		vertical-align: middle;
		line-height: 1;
		text-transform: uppercase;
	}
	&.orange{
		width: $width-circle1;
		height: $width-circle1;
		background: $color-orange;
	}
	&.purple{
		width: $width-circle2;
		height: $width-circle2;
		background: $color-purple;
		left: -90px;
		top: 150px;
	}
	&.blue{
		width: $width-circle1;
		height: $width-circle1;
		background: $color-blue;
		left: 345px;
		top: 150px;
	}
	&.pink{
		width: $width-circle3;
		height: $width-circle3;
		background: $color-pink;
		left: 462px;
		top: -200px;	
	}
}
.orange-animation0{
	-webkit-animation: moveX0 0.55s linear 0s  alternate, moveY0 .5s linear 0s alternate;
	-moz-animation: moveX0 0.55s linear 0s alternate, moveY0 .5s linear 0s alternate;
	-o-animation: moveX0 0.55s linear 0s alternate, moveY0 .5s linear 0s alternate;
	animation: moveX0 0.55s linear 0s alternate, moveY0 .5s linear 0s alternate;
}
.purple-animation1{
	-webkit-animation: moveX1 .5s linear 0s  alternate, moveY1 .5s linear 0s alternate;
	-moz-animation: moveX1 .5s linear 0s alternate, moveY1 .5s linear 0s alternate;
	-o-animation: moveX1 .5s linear 0s alternate, moveY1 .5s linear 0s alternate;
	animation: moveX1 .5s linear 0s alternate, moveY1 .5s linear 0s alternate;
}
.blue-animation2{
	-webkit-animation: moveX2 0.55s linear 0s  alternate, moveY2 .5s linear 0s alternate;
	-moz-animation: moveX2 0.55s linear 0s alternate, moveY2 .5s linear 0s alternate;
	-o-animation: moveX2 0.55s linear 0s alternate, moveY2 .5s linear 0s alternate;
	animation: moveX2 0.55s linear 0s alternate, moveY2 .5s linear 0s alternate;
}
.pink-animation3{
	-webkit-animation: moveX3 0.55s linear 0s  alternate, moveY3 .5s linear 0s alternate;
	-moz-animation: moveX3 0.55s linear 0s alternate, moveY3 .5s linear 0s alternate;
	-o-animation: moveX3 0.55s linear 0s alternate, moveY3 .5s linear 0s alternate;
	animation: moveX3 0.55s linear 0s alternate, moveY3 .5s linear 0s alternate;
}
//for first ball
@-webkit-keyframes moveX0 {
  from { left: -480px; } to { left: 0px; }
}
@-moz-keyframes moveX0 {
  from { left: -480px; } to { left: 0px; }
}
@-o-keyframes moveX0 {
  from { left: -480px; } to { left: 0px; }
}
@keyframes moveX0 {
  from { left: -480px; } to { left: 0px; }
}
@-webkit-keyframes moveY0 {
  from { top: 0px; } to { top: 0px; }
}
@-moz-keyframes moveY0 {
  from { top: 150px; } to { top: 150px; }
}
@-o-keyframes moveY0 {
  from { top: 0px; } to { top: 150px; }
}
@keyframes moveY0 {
  from { top: 150px; } to { top: 150px; }
}


//for second ball
@-webkit-keyframes moveX1 {
  from { left: -480px; } to { left: -90px; }
}
@-moz-keyframes moveX1 {
  from { left: -480px; } to { left: -90px; }
}
@-o-keyframes moveX1 {
  from { left: -480px; } to { left: -90px; }
}
@keyframes moveX1 {
  from { left: -480px; } to { left: -90px; }
}
@-webkit-keyframes moveY1 {
  from { top: 150px; } to { top: 150px; }
}
@-moz-keyframes moveY1 {
  from { top: 150px; } to { top: 150px; }
}
@-o-keyframes moveY1 {
  from { top: 150px; } to { top: 150px; }
}
@keyframes moveY1 {
  from { top: 150px; } to { top: 150px; }
}
//for third ball
@-webkit-keyframes moveX2 {
  from { left: 1000px; } to { left: 345px; }
}
@-moz-keyframes moveX2 {
  from { left: -480px; } to { left: -90px; }
}
@-o-keyframes moveX2 {
  from { left: -480px; } to { left: -90px; }
}
@keyframes moveX2 {
  from { left: -480px; } to { left: -90px; }
}
@-webkit-keyframes moveY2 {
  from { top: 150px; } to { top: 150px; }
}
@-moz-keyframes moveY2 {
  from { top: 150px; } to { top: 150px; }
}
@-o-keyframes moveY2 {
  from { top: 150px; } to { top: 150px; }
}
@keyframes moveY2 {
  from { top: 150px; } to { top: 150px; }
}

//for fourth ball
@-webkit-keyframes moveX3 {
  from { left: 1000px; } to { left: 462px; }
}
@-moz-keyframes moveX3 {
  from { left: 1000px; } to { left: 462px; }
}
@-o-keyframes moveX3 {
  from { left: 1000px; } to { left: 462px; }
}
@keyframes moveX3 {
  from { left: 1000px; } to { left: 462px; }
}
@-webkit-keyframes moveY3 {
  from { top: -200px; } to { top: -200px; }
}
@-moz-keyframes moveY3 {
  from { top: -200px; } to { top: -200px; }
}
@-o-keyframes moveY3 {
  from { top: -200px; } to { top: -200px; }
}
@keyframes moveY3 {
  from { top: -200px; } to { top: -200px; }
}