footer.container{
	width: $width-base;
	margin: 0 auto;
	.top{
		text-align: center;
		a{
			background: $gray-med;
			height:60px;
		    width:120px;
		    display: inline-block;
		    border-radius: 90px 90px 0 0;
		    color: $white;
		    font-weight: $font-weight-bold;
		    font-size: 24px;
		    padding-top: 25px;
		}
		&:hover{
			a{
				text-decoration: none;
			}
		}
	}
}