footer.container{
	width: $width-base;
	margin: 0 auto;
	.top{
		text-align: center;
		a{
			background: $gray-med;
		    width:110px;
		    display: inline-block;
		    border-radius: 90px 90px 0 0;
		    color: $white;
		    font-weight: $font-weight-bold;
		    font-size: 22px;
		    padding-top: 0px;
		}
		&:hover,
		&:focus,
		&:visited{
			a{
				text-decoration: none;
			}
		}
	}
}