div#six{	
	div{
		&.color1{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-grey;
			left: 2px;
			top: 0px;
			&.animation0{
				@include animation(moveX0 0.7s linear 0s  alternate, moveY0 .7s linear 0s alternate);
			}
		}
		&.color2{
			width: $width-circle2;
			height: $width-circle2;
			background: $color-blue;
			left: -90px;
			top: 150px;
			&.animation1{
				@include animation(moveX1 .7s linear 0s  alternate, moveY1 .7s linear 0s alternate);
			}
		}
		&.color3{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-pink;
			left: 345px;
			top: 150px;
			&.animation2{
				@include animation(moveX2 0.7s linear 0s  alternate, moveY2 .7s linear 0s alternate);
			}
		}
		&.color4{
			width: $width-circle3;
			height: $width-circle3;
			background: $color-orange;
			left: 462px;
			top: -200px;	
			&.animation3{
				@include animation(moveX3 0.7s linear 0s  alternate, moveY3 .7s linear 0s alternate);
			}
		}
		&.color5{
			width: $width-circle3;
			height: $width-circle3;
			background: $color-green;
			left: 91px;
			top: -65px;	
			&.animation4{
				@include animation(moveX4 0.7s linear 0s  alternate, moveY4 .7s linear 0s alternate);
			}
		}
	}
}
