div#two{	
	div{
		&.orange{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-blue;
			left: 2px;
			top: 0px;
			&.orange-animation0{
				@include animation(moveX0 0.7s linear 0s  alternate, moveY0 .7s linear 0s alternate);
			}
		}
		&.purple{
			width: $width-circle2;
			height: $width-circle2;
			background: $color-pink;
			left: -90px;
			top: 150px;
			&.purple-animation1{
				@include animation(moveX1 .7s linear 0s  alternate, moveY1 .7s linear 0s alternate);
			}
		}
		&.blue{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-orange;
			left: 345px;
			top: 150px;
			&.blue-animation2{
				@include animation(moveX2 0.7s linear 0s  alternate, moveY2 .7s linear 0s alternate);
			}
		}
		&.pink{
			width: $width-circle3;
			height: $width-circle3;
			background: $color-purple;
			left: 462px;
			top: -200px;	
			&.pink-animation3{
				@include animation(moveX3 0.7s linear 0s  alternate, moveY3 .7s linear 0s alternate);
			}
		}
		&.grey{
			width: $width-circle3;
			height: $width-circle3;
			background: $color-green;
			left: 91px;
			top: -65px;	
			&.grey-animation4{
				@include animation(moveX4 0.7s linear 0s  alternate, moveY4 .7s linear 0s alternate);
			}
		}
		&.green{
			width: $width-circle4;
			height: $width-circle4;
			background: $color-grey;
			left: 424px;
			top: -570px;	
			&.green-animation5{
				@include animation(moveX5 0.7s linear 0s  alternate, moveY5 .7s linear 0s alternate);
			}
		}
	}
}
