div#first{
	div{
		&.color1{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-pink;
            left: -82px;
            top: 195px;
			&.animation0{
              @include animation(fromLeft 1000ms linear 0s forwards);
			}
		}
		&.color2{
			width: $width-circle2;
			height: $width-circle2;
			background: $color-orange;
            left: -319px;
            top: 739px;
			&.animation1{
              @include animation(bottomLeft 800ms linear 0s forwards);
			}
		}
		&.color3{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-purple;
            right: -375px;
            top: 672px;
			&.animation2{
              @include animation(bottomRight 1050ms linear 0s forwards);
			}
		}
		&.color4{
			width: $width-circle3;
			height: $width-circle3;
			background: $color-blue;
            right: -123px;
            top: 200px;
			&.animation3{
              @include animation(fromRight 1200ms linear 0s forwards);
			}
		}
		&.color5{
			width: $width-circle3;
			height: $width-circle3;
			background: $color-grey;
            right: 152px;
            top: -227px;
			&.animation4{
              @include animation(topRightToMid 950ms linear 0s forwards);
			}
		}
	}
}
