div#fifth{
	div{
		&.color1{
			width: $width-circle2;
			height: $width-circle2;
			background: $color-blue;
            left: -319px;
            top: -155px;
			&.animation0{
              @include animation(topLeftToMid 900ms linear 0s forwards);
			}
		}
		&.color2{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-pink;
            top: 673px;
            left: -735px;
			&.animation1{
				@include animation(bottomLeft 1000ms linear 0s forwards);
			}
		}
		&.color3{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-green;
            top: -85px;
            right: -372px;
			&.animation2{
                @include animation(topRightToMid 950ms linear 0s forwards);
			}
		}
	}
}
