div#third{
	div{
		&.color1{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-green;
            left: 179px;
			top: -158px;
			&.animation0{
                @include animation(topLeftToMid 900ms linear 0s forwards);
			}
		}
		&.color2{
			width: $width-circle2;
			height: $width-circle2;
			background: $color-grey;
            left: -118px;
            top: 265px;
			&.animation1{
                @include animation(fromLeft 1000ms linear 0s forwards);
			}
		}
		&.color3{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-pink;
            top: 752px;
            left: -310px;
			&.animation2{
                @include animation(bottomLeft 800ms linear 0s forwards);
			}
		}
		&.color4{
			width: $width-circle3;
			height: $width-circle3;
			background: $color-orange;
            right: -383px;
            top: 700px;
			&.animation3{
                @include animation(bottomRight 1050ms linear 0s forwards);
			}
		}
		&.color5{
			width: $width-circle3;
			height: $width-circle3;
			background: $color-blue;
            right: -136px;
            top: 235px;
			&.animation4{
				@include animation(fromRight 1200ms linear 0s forwards);
			}
		}
		&.color6{
			width: $width-circle4;
			height: $width-circle4;
			background: $color-purple;
            top: -236px;
			right: 201px;
			&.animation5{
              @include animation(topRightToMid 950ms linear 0s forwards);
			}
		}
	}
}
