div#zeroth{
	div{
		&.color1{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-orange;
			left: -12px;
			top: -12px;
			&.animation0{
				@include animation(moveX0 .8s ease-out);
			}
		}
		&.color2{
			width: $width-circle2;
			height: $width-circle2;
			background: $color-purple;
			left: -116px;
			top: 184px;
			&.animation1{
				@include animation(moveX1 .7s $ease-out-circ);
			}
		}
		&.color3{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-blue;
			left: 474px;
			top: 150px;
			&.animation2{
				@include animation(moveX2 .75s ease-out);
			}
		}
		&.color4{
			width: $width-circle3;
			height: $width-circle3;
			background: $color-pink;
			left: 473px;
			top: -239px;
			&.animation3{
				@include animation(moveX3 .7s ease-out);
			}
		}
	}
}

//for first ball
@include keyframes(moveX0) {
  0%   {@include transform(translate(-500%, -500%));}
  10%  {@include transform(translate(0, 0));}
  20%  {@include transform(translate(-100%, -100%));}
  30%  {@include transform(translate(0,0));}
  40%  {@include transform(translate(-50%,-50%));}
  50%  {@include transform(translate(0, 0));}
  60%  {@include transform(translate(-25%,-25%));}
  70%  {@include transform(translate(0, 0));}
  80%  {@include transform(translate(-10%,-10%));}
  90%  {@include transform(translate(0, 0));}
  100% {@include transform(translate(0, 0));}
}
@include keyframes(moveX1) {
  0%   {@include transform(translate(-500%, 500%));}
  10%  {@include transform(translate(0, 0));}
  20%  {@include transform(translate(-150%, 150%));}
  30%  {@include transform(translate(0,0));}
  40%  {@include transform(translate(-80%,80%));}
  50%  {@include transform(translate(0, 0));}
  60%  {@include transform(translate(-40%,40%));}
  70%  {@include transform(translate(0, 0));}
  80%  {@include transform(translate(-5%,5%));}
  90%  {@include transform(translate(0, 0));}
  100% {@include transform(translate(0, 0));}
}
@include keyframes(moveX2) {
  0%   {@include transform(translate(500%, 500%));}
  10%  {@include transform(translate(0, 0));}
  15%  {@include transform(translate(80%,80%));}
  25%  {@include transform(translate(0, 0));}
  45%  {@include transform(translate(30%,30%));}
  60%  {@include transform(translate(0, 0));}
  80%  {@include transform(translate(15%,15%));}
  90%  {@include transform(translate(0, 0));}
  100% {@include transform(translate(0, 0));}
}
@include keyframes(moveX3) {
  0%   {@include transform(translate(500%, -500%));}
  10%  {@include transform(translate(0, 0));}
  20%  {@include transform(translate(100%, -100%));}
  30%  {@include transform(translate(0,0));}
  40%  {@include transform(translate(50%, -50%));}
  50%  {@include transform(translate(0, 0));}
  60%  {@include transform(translate(25%, -25%));}
  70%  {@include transform(translate(0, 0));}
  80%  {@include transform(translate(10%, -10%));}
  90%  {@include transform(translate(0, 0));}
  100% {@include transform(translate(0, 0));}
}
@include keyframes(moveX4) {
  0%   {@include transform(translate(-500%, 900%));}
  15%  {@include transform(translate(0, 0));}
  20%  {@include transform(translate(-100%, 180%));}
  35%  {@include transform(translate(0, 0));}
  40%  {@include transform(translate(-50%, 90%));}
  55%  {@include transform(translate(0, 0));}
  60%  {@include transform(translate(-25%, 45%));}
  75%  {@include transform(translate(0, 0));}
  80%  {@include transform(translate(-10%, 18%));}
  90%  {@include transform(translate(0, 0));}
  100% {@include transform(translate(0, 0));}
}
/*@include keyframes(moveX0) {
  	0%   {left: -480px;}
  	15%  {left: -280px;}
    25%  {left: 2px;}//actual position
    35%  {left: -250px;}
    50%  {left: -50px;}
    65%  {left: 2px;}//actual position
    75%  {left: -50px;}
    100% {left: 2px;}//actual position
}
@include keyframes(moveY0) {
    0%   {top: -350px;}
  	15%  {top: -150px;}//actual position
    25%  {top: 0px;}
    35%  {top: -170px;}//actual position
    50%  {top: -50px;}
    65%  {top: 0px;}//actual position
    75%  {top: -50px;}
    100% {top: 0px;}//actual position
}
//for second ball
@include keyframes(moveX1) {
    0%   {left: -480px;}
  	15%  {left: -290px;}
    25%  {left: -90px;}//actual position
    35%  {left: -250px;}
    50%  {left: -150px;}
    65%  {left: -90px;}//actual position
    75%  {left: -190px;}
    100% {left: -90px;}//actual position
}
@include keyframes(moveY1) {
    0%   {top: 550px;}
  	15%  {top: 350px;}
    25%  {top: 150px;}//actual position
    35%  {top: 350px;}
    50%  {top: 250px;}
    65%  {top: 150px;}//actual position
    75%  {top: 250px;}
    100% {top: 150px;}//actual position
}
//for third ball
@include keyframes(moveX2) {
    0%   {left: 1000px;}
  	15%  {left: 500px;}
    25%  {left: 345px;}//actual position
    35%  {left: 600px;}
    50%  {left: 450px;}
    65%  {left: 345px;}//actual position
    75%  {left: 445px;}
    100% {left: 345px;}//actual position
}
@include keyframes(moveY2) {
    0%   {top: 550px;}
  	15%  {top: 350px;}
    25%  {top: 150px;}//actual position
    35%  {top: 350px;}
    50%  {top: 250px;}
    65%  {top: 150px;}//actual position
    75%  {top: 250px;}
    100% {top: 150px;}//actual position
}
//for fourth type of ball
@include keyframes(moveX3) {
    0%   {left: 900px;}
  	15%  {left: 600px;}
    25%  {left: 462px;}//actual position
    35%  {left: 600px;}
    50%  {left: 562px;}
    65%  {left: 462px;}//actual position
    75%  {left: 562px;}
    100% {left: 462px;}//actual position
}
@include keyframes(moveY3) {
	from { top: -200px; } to { top: -200px; }
}
//for fifth type of ball
@include keyframes(moveX4) {
    0%   {left: -491px;}
  	15%  {left: -291px;}
    25%  {left: 91px;}//actual position
    35%  {left: -191px;}
    50%  {left: -91px;}
    65%  {left: 91px;}//actual position
    75%  {left: -91px;}
    100% {left: 91px;}//actual position
}
@include keyframes(moveY4) {
    0%   {top: 550px;}
  	15%  {top: 265px;}
    25%  {top: -65px;}//actual position
    35%  {top: 350px;}
    50%  {top: 165px;}
    65%  {top: -65px;}//actual position
    75%  {top: 165px;}
    100% {top: -65px;}//actual position
}
//for fifth type of ball
@include keyframes(moveX5) {
    0%   {left: 824px;}
  	15%  {left: 624px;}
    25%  {left: 424px;}//actual position
    35%  {left: 624px;}
    50%  {left: 524px;}
    65%  {left: 424px;}//actual position
    75%  {left: 524px;}
    100% {left: 424px;}//actual position
}
@include keyframes(moveY5) {
    0%   {top: -970px;}
  	15%  {top: -770px;}
    25%  {top: -570px;}//actual position
    35%  {top: -770px;}
    50%  {top: -670px;}
    65%  {top: -570px;}//actual position
    75%  {top: -670px;}
    100% {top: -570px;}//actual position
}
//for sixth type of ball
@include keyframes(moveX6) {
    0%   {left: -480px;}
    15%  {left: -200px;}
    25%  {left: -34px;}//actual position
    35%  {left: -200px;}
    50%  {left: -50px;}
    65%  {left: -34px;}//actual position
    75%  {left: -80px;}
    100% {left: -34px;}//actual position
}
@include keyframes(moveY6) {
    0%   {top: -350px;}
    15%  {top: -150px;}
    25%  {top: 0px;}//actual position
    35%  {top: -170px;}
    50%  {top: -80px;}
    65%  {top: 0px;}//actual position
    75%  {top: -80px;}
    100% {top: 0px;}//actual position
}
//for seventh type of ball
@include keyframes(moveX7) {
    0%   {left: -577px;}
    15%  {left: -277px;}
    25%  {left: -77px;}//actual position
    35%  {left: -277px;}
    50%  {left: -100px;}
    65%  {left: -77px;}//actual position
    75%  {left: -137px;}
    100% {left: -77px;}//actual position
}
@include keyframes(moveY7) {
    0%   {top: -30px;}
    15%  {top: -20px;}
    25%  {top: 9px;}//actual position
    35%  {top: -20px;}
    50%  {top: -10px;}
    65%  {top: 9px;}//actual position
    75%  {top: -10px;}
    100% {top: 9px;}//actual position
}*/