div#second{
	div{
		&.color1{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-blue;
            left: 181px;
			top: -160px;
			&.animation0{
              @include animation(topLeftToMid 900ms linear 0s forwards);
			}
		}
		&.color2{
			width: $width-circle2;
			height: $width-circle2;
			background: $color-pink;
            left: -104px;
			top: 221px;
			&.animation1{
              @include animation(fromLeft 1000ms linear 0s forwards);
			}
		}
		&.color3{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-orange;
            left: -305px;
			top: 765px;
			&.animation2{
              @include animation(bottomLeft 800ms linear 0s forwards);
			}
		}
		&.color4{
			width: $width-circle3;
			height: $width-circle3;
			background: $color-purple;
            right: -390px;
			top: 667px;
			&.animation3{
              @include animation(bottomRight 1050ms linear 0s forwards);
			}
		}
		&.color5{
			width: $width-circle3;
			height: $width-circle3;
			background: $color-green;
            right: -130px;
			top: 217px;
			&.animation4{
              @include animation(fromRight 1200ms linear 0s forwards);
			}
		}
		&.color6{
			width: $width-circle4;
			height: $width-circle4;
			background: $color-grey;
            right: 201px;
			top: -235px;
			&.animation5{
              @include animation(topRightToMid 950ms linear 0s forwards);
			}
		}
	}
}
