div#five{	
	div{
		&.color1{
			width: $width-circle2;
			height: $width-circle2;
			background: $color-blue;
			left: -34px;
			top: 0px;
			&.animation0{
				@include animation(moveX6 1.5s ease-out, moveY6 1.5s ease-out);
			}
		}
		&.color2{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-pink;
			left: -77px;
			top: 9px;
			&.animation1{
				@include animation(moveX7 .7s linear 0s  alternate, moveY7 1.5s ease-out);
			}
		}
		&.color3{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-green;
			left: 345px;
			top: 150px;
			&.animation2{
				@include animation(moveX2 1.5s ease-out, moveY2 1.5s ease-out);
			}
		}
	}
}
