div#third{
	div{
		&.color1{
			width: $width-circle6;
			height: $width-circle6;
			background: $color-green;
      left: 157px;
			top: -158px;
			&.animation0{
                @include animation(topLeftToMid 900ms linear 0s forwards);
			}
		}
		&.color2{
			width: $width-circle2;
			height: $width-circle2;
			background: $color-grey;
      left: -118px;
      top: 265px;
			&.animation1{
                @include animation(fromLeft 1000ms linear 0s forwards);
			}
		}
		&.color3{
			width: $width-circle8;
			height: $width-circle8;
			background: $color-pink;
      left: -319px;
      top: 778px;
			&.animation2{
                @include animation(bottomLeft 800ms linear 0s forwards);
			}
		}
		&.color4{
			width: $width-circle8;
			height: $width-circle8;
			background: $color-orange;
      right: -404px;
      top: 761px;
			&.animation3{
                @include animation(bottomRight 1050ms linear 0s forwards);
			}
		}
		&.color5{
			width: $width-circle8;
			height: $width-circle8;
			background: $color-blue;
      right: -189px;
      top: 278px;
			&.animation4{
				@include animation(fromRight 1200ms linear 0s forwards);
			}
		}
		&.color6{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-purple;
			right: 75px;
			top: -220px;
			&.animation5{
              @include animation(topRightToMid 950ms linear 0s forwards);
			}
		}
	}
}

//media query
$width : 10;
$left : 5px;
$color1-left : 157px;
$color2-left: -118px;
$color3-left: -319px;
$color4-left: -404px;
$color5-left: -189px;
$color6-left: 75px;
$min-width : 1360px;
$max-width : 1370px; 
@for $i from 1 through 129 {
  
  @media (min-width: $min-width) and (max-width: $max-width) {
    div#third{
      div{
        &.color1{
          left: $color1-left;
          top: -158px;
        }
        &.color2{
          left: $color2-left;
          top: 265px;
        }
        &.color3{
          left: $color3-left;
          top: 778px;
        }
        &.color4{
          right: $color4-left;
          top: 761px;
        }
        &.color5{
          right: $color5-left;
          top: 278px;
        }
        &.color6{
          right: $color6-left;
          top: -220px;
        }
      }
    }  
  } 
  $min-width : $min-width + $width;
  $max-width : $max-width + $width;
  $color1-left : $color1-left + $left;
  $color2-left: $color2-left + $left;
  $color3-left: $color3-left + $left;
  $color4-left: $color4-left + $left;
  $color5-left: $color5-left + $left;
  $color6-left: $color6-left + $left;
}
